<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <!-- 数据库表对应的bean   -->
    <typeAliases>
        <package name="com.shitou.springbootdemos.mybatis.bean"/>
    </typeAliases>
</configuration>